services:
  api:
    build: ./food-ordering-api
    container_name: api
    env_file: ./food-ordering-api/.env
    ports:
      - "3000:3000"
    depends_on:
      - db
      - cache

  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_USER: nest
      POSTGRES_PASSWORD: nest
      POSTGRES_DB: nest
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  cache:
    image: redis:7
    container_name: cache
    ports:
      - "6379:6379"

volumes:
  db_data:
